.idea/

*.cache
*.deps
*.tlog
*.pdb
*.obj
*.recipe
*.lastbuildstate
*.vcxproj
*.sln
*.filters
*.ilk
*.log
*.exp
*.check_cache
*.bin
*.rule
*.stamp
*.depend
*.pyc
*.props
*.zip
*.vsidx
*.mp4
*.jpg
*.txt
*.exe
*.png


